name: first pipeline for varaibles
on: 
  workflow_dispatch:
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello world , ${vars.ENV}"
      - run: echo "secrets value, ${secrets.MYSECRET}"
